<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="io.opentelemetry.instrumentation.log4j.appender.v2_17"> <!--pl.tkowalcz.tjahzi.log4j2, ,io.opentelemetry.instrumentation.log4j.appender.v2_17 -->
    <Properties>
        <Property name="LOG_EXCEPTION_CONVERSION_WORD">%xwEx</Property>
        <Property name="appName" value="${spring:spring.application.name:-App}" />
        <Property name="profiles" value="${spring:spring.profiles.active:-default}" />
        <Property name="logDir" value="${spring:logging.file.path:-logs}"/>

            <Property name="CONSOLE_LOG_PATTERN" value="%style{%d{HH:mm:ss.SSSZ}}{cyan} %highlight{[%-5level]}
%style{[%mdc{trace_id}%X{traceId},%mdc{span_id}%X{spanId}]}{bright_magenta}
- %msg
%style{[${appName}]}{bright_magenta} %style{[%pid]}{blue}
%style{[%thread]}{bright_magenta} %highlight{[%logger]}%n" />
<!--%highlight{}
%style{%d{HH:mm:ss.SSS}}{cyan}
%style{[${appName},%mdc{trace_id}%X{traceId},%mdc{span_id}%X{spanId}]}{bright_magenta}
[%20.20thread{20}]
-->
            <Property name="FILE_LOG_PATTERN" value="%d{HH:mm:ss.SSS}
[${appName},%mdc{trace_id},%mdc{span_id}] [%20.20thread{20}] %-5level %30.30logger{1.} - %msg%n" />

<!--        <SpringProfile name="nootel">-->
<!--            <Property name="CONSOLE_LOG_PATTERN" value="%style{%d{HH:mm:ss.SSS}}{cyan}-->
<!--%style{[${appName},%X{traceId},%X{spanId}]}{bright_magenta}-->
<!--[%20.20thread{20}] %highlight{%-5level %30.30logger{1.}} - %msg%n" />-->

<!--            <Property name="FILE_LOG_PATTERN" value="%d{HH:mm:ss.SSS}-->
<!--[${appName},%X{traceId},%X{spanId}] [%20.20thread{20}] %-5level %30.30logger{1.} - %msg%n" />-->

<!--        </SpringProfile>-->
    </Properties>

    <Appenders>

        <RollingFile name="RollingFileRender"
                     fileName="${logDir}/app.${appName}.${profiles}.log"
                     filePattern="${logDir}/${date:yyyy-MM}/app.${appName}.${profiles}.%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="${sys:FILE_LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="25MB"/>
            </Policies>
        </RollingFile>

        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout disableAnsi="false"
                           pattern="${sys:CONSOLE_LOG_PATTERN}" />
            <filters>
                <ThresholdFilter level="${sys:CONSOLE_LOG_THRESHOLD:-TRACE}"/>
            </filters>
        </Console>

        <!-- no need loki appander, send log to collector now --><!--
        <OpenTelemetry name="OpenTelemetryAppender" captureMapMessageAttributes="true" captureExperimentalAttributes="true"/>-->
    </Appenders>
    <Loggers>
        <Logger name="io" level="info" />
        <Logger name="org.springframework.boot" level="info" />
        <Logger name="org.springframework" level="debug" />
        <Root level="info">
            <AppenderRef ref="Console"/>
<!--            <AppenderRef ref="RollingFileRender"/>-->
<!--            <AppenderRef ref="OpenTelemetryAppender"/>-->
        </Root>
    </Loggers>
</Configuration>
