<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <springProperty scope="context" name="application.name" source="spring.application.name" />

    <property name="CONSOLE_LOG_PATTERN" value="%highlight(%d{HH:mm:ss.SSSZ}) %highlight([${LOG_LEVEL_PATTERN:-%-5p}]) %clr([%X{traceId:-},%X{spanId:-}]){magenta}
- %m %highlight([${application.name}]) %clr(${PID:-}){magenta} %clr([%t]){faint} [%clr(%logger){cyan}] %n"/>

    <springProfile name="production | staging">
        <logger name="org.springframework.web" level="DEBUG"/>
    </springProfile>
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

    <logger name="com.zaxxer.hikari" level="debug" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
</configuration>