<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">

    <mirrors>
        <mirror>
            <id>nexus</id>
            <mirrorOf>*</mirrorOf>
            <url>https://nexus.tcghl.com/repository/maven-public/</url>
            <layout>default</layout>
        </mirror>
    </mirrors>

    <profiles>
        <profile>
            <id>tcghl-nexus</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>

            <repositories>
                <repository>
                    <id>nexus-public</id>
                    <name>Nexus-snapshots-repositories</name>
                    <url>https://nexus.tcghl.com/repository/maven-public/</url>
                </repository>
            </repositories>

            <pluginRepositories>
                <pluginRepository>
                    <id>nexus-public</id>
                    <name>Nexus-snapshots-repositories</name>
                    <url>https://nexus.tcghl.com/repository/maven-public/</url>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
</settings>